[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lscom
[access "refs/for/refs/*"]
	read = group user/lscom
	push = group user/lscom
	label-Code-Review = -2..+2 group user/lscom
	label-Verified = -1..+1 group user/lscom
	rebase = group user/lscom
	removeReviewer = group user/lscom
	submit = group user/lscom
[access "refs/heads/*"]
	read = group user/lscom
	create = group user/lscom
	push = +force group user/lscom
	pushMerge = group user/lscom
[access "refs/tags/*"]
	push = +force group user/lscom
	pushTag = group user/lscom
	pushSignedTag = group user/lscom
