[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lscom (lscom)
[access "refs/for/refs/*"]
	read = group user/lscom (lscom)
	push = group user/lscom (lscom)
	label-Code-Review = -2..+2 group user/lscom (lscom)
	label-Verified = -1..+1 group user/lscom (lscom)
	rebase = group user/lscom (lscom)
	removeReviewer = group user/lscom (lscom)
	submit = group user/lscom (lscom)
[access "refs/heads/*"]
	read = group user/lscom (lscom)
	create = group user/lscom (lscom)
	push = +force group user/lscom (lscom)
	pushMerge = group user/lscom (lscom)
[access "refs/tags/*"]
	push = +force group user/lscom (lscom)
	pushTag = group user/lscom (lscom)
	pushSignedTag = group user/lscom (lscom)
[project]
	state = hidden
